 <div class="center">
    <div>
        <label data-ng-repeat="(name,value) in items" class="cols clearfix">
            <span ng-bind="evaluateExpression(name)"></span>

            <input type="text" data-ng-keydown="$parent.$parent.keypressCallback($event)" data-ng-focus="ResetField(name)" data-ng-click="ResetField(name)" id="input{{name}}" data-ng-model="answer[name].Answer" data-ng-class="GetAnswerClass(name)" ontouchstart="this.type='number'" onfocus="changeType(this)">
            <span>{{ exercise.answerformat }}</span>
        </label>
    </div>
 </div>