<div class="definition cssarrow">
    <h1>{{ exercise.name }}</h1>    
    <p data-math-jax ng-bind-html="exercise.exercise"></p>
    <img alt="" ng-hide="exercise.image== undefined" ng-src="{{exercise.image}}" />
</div>

<div class="interaction">
    <!--if there is a graph element in the json include a graph -->
    <div ng-if='exercise.graph' class="clearfix">
        <div id="box" graph="point" class="jxgbox chart" data-ng-class="GetClassForGraph()">
        </div>
    </div>
    
    <div data-ng-switch on="exercise.inputtype" data-ng-class="{'additional':exercise.graph != null}">
        <!-- START OF TEMPLATES prefixed with et- (exercise template)  -->
        <div et-field data-ng-switch-when="field" class="clearfix"></div>

        <div et-dropdown data-ng-switch-when="dropdown" math-jax class="clearfix"></div>

        <div et-button data-ng-switch-when="button" class="clearfix"></div>

        <div et-sequence data-ng-switch-when="sequence" class="clearfix"></div> 

        <div et-multifield data-ng-switch-when="multifield" class="clearfix"></div>
        <!-- END OF TEMPLATES -->
    </div>

    <div>

        <div data-ng-show='Error && !Cheated' class="clearfix">
            <div class="info cssarrow up">
                <h2>
                    <span class="incorrect">{{ 'WRONG' | translate }}</span>
                    <span data-ng-bind-html="'TRYAGAIN' | translate"></span>
                </h2>

                <p math-jax data-ng-bind-html="exercise.error.message"></p>
            </div>
        </div>

        <div data-ng-if='Correct' class="clearfix">
            <div class="info cssarrow up">
                <h2>
                    <span class="correct" data-ng-bind-html="'CORRECT' | translate "></span>
                </h2>
                <p math-jax data-ng-bind-html="exercise.correct.message"></p>
            </div>
        </div>

        <div class="clearfix navbuttons" data-ng-if='(Correct || Cheated) || (Error && exercise.inputtype == "graph") && !last'>
            <div class="center">
                <div>

                    <button class="button gray" data-ng-click="next()" type="button" data-ng-bind-html="'NEXTEXERCISE' | translate"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix navbuttons" data-ng-if='!Correct && !Cheated'>
        <div class="center">
            <div>
                <button class="button submit" data-ng-click="verify(answer)" type="button">{{ 'DONE' | translate }}</button>
                <button data-ng-if='Error && !Cheated' data-ng-click="showAnswer()" class="button gray show" type="button">{{ 'SHOWANSWER' | translate }}</button>
            </div>
        </div>
    </div>
</div>