<div class="definition cssarrow">
    <h1>{{ exercise.name }}</h1>    
    <p data-math-jax ng-bind-html="exercise.exercise"></p>
    <img alt="" ng-hide="exercise.image== undefined" ng-src="{{exercise.image}}" />
</div>

<div class="interaction">
    <!--if there is a graph element in the json include a graph -->
    <div ng-if='exercise.graph' class="clearfix">
        <div id="box" graph="point" class="jxgbox chart" data-ng-class="GetClassForGraph()">
        </div>
    </div>
    <div data-ng-switch on="exercise.inputtype" data-ng-class="{'additional':exercise.graph != null}">
        <!-- Using  -->
        <div data-ng-switch-when="field" class="clearfix">
            <div class="center">
                <div>
                    <label data-ng-repeat="(name,value) in $parent.exercise.expectedanswer" class="cols clearfix">
                        <span>{{ $parent.evaluateExpression(name) }}</span>

                        <input type="text" data-ng-keydown="$parent.$parent.keypressCallback($event)" data-ng-focus="$parent.$parent.ResetField($parent.$parent.answer[name])" data-ng-click="$parent.$parent.ResetField($parent.$parent.answer[name])" id="input{{name}}" data-ng-model="$parent.$parent.answer[name].Answer" data-ng-class="GetAnswerClass($parent.$parent.answer[name])" ontouchstart="this.type='number'" onfocus="changeType(this)">

                        <span>{{ exercise.answerformat }}</span>
                    </label>
                </div>
            </div>
        </div>

        <div data-ng-switch-when="dropdown" math-jax class="clearfix">
            <div class="center">
                <div>
                    <label class="cols clearfix" pair-item ng-repeat="(name,item) in $parent.exercise.multichoice" key="name" content="item" data-ng-class="{incorrect:$parent.$parent.answer[key].Error, correct:$parent.$parent.answer[key].Correct }">
                    </label>
                </div>
            </div>
        </div>
        <div data-ng-switch-when="button" class="clearfix">
            <div class="center">
                <div data-ng-repeat="(name,item) in $parent.exercise.multichoice">
                    <!--Knapparna (.gray) ska toggla selected -->
                    <div data-ng-repeat="option in item.options track by $index" class="cols clearfix">
                        <span></span>
                        <button type="button" data-ng-click="SetAnswerForButton($parent.$parent.$parent.answer[name], option)" data-ng-class="GetClassesForButton($parent.$parent.$parent.answer[name], option)" class="button gray" compile="option">{{ option }} </button>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>

        <div data-ng-switch-when="multifield" class="clearfix">
            <div class="center" math-jax>
                <div>
                    <div class="cols func clearfix" multi-field>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-controller="AnswerCtrl">

        <div data-ng-show='$parent.Error && !$parent.Cheated' class="clearfix">
            <div class="info cssarrow up">
                <h2>
                    <span class="incorrect">{{ 'WRONG' | translate }}</span>
                    <span>&ndash;{{ 'TRYAGAIN' | translate }}</span>
                </h2>

                <p math-jax data-ng-bind-html-unsafe="exercise.error.message"></p>
            </div>
        </div>

        <div data-ng-if='$parent.Correct' class="clearfix">
            <div class="info cssarrow up">
                <h2>
                    <span class="correct" ng-bind-html="'CORRECT' | translate "></span>
                </h2>
                <p math-jax>{{exercise.correct.message}}</p>
            </div>
        </div>

        <div class="clearfix navbuttons" data-ng-if='($parent.Correct || $parent.Cheated) || ($parent.Error && exercise.inputtype == "graph") && !last'>
            <div class="center">
                <div>

                    <button class="button gray" data-ng-click="next()" type="button" ng-bind-html="'NEXTEXERCISE' | translate"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix navbuttons" data-ng-if='!Correct && !Cheated'>
        <div class="center">
            <div>
                <button class="button submit" data-ng-click="verify(answer)" type="button">{{ 'DONE' | translate }}</button>
                <button data-ng-if='Error && !Cheated && exercise.inputtype != "graph" ' data-ng-click="showAnswer()" class="button gray show" type="button">{{ 'SHOWANSWER' | translate }}</button>
            </div>
        </div>
    </div>
</div>